:root {
  --fg-color: rgba(255, 255, 255, 0.9);
  --bg-color: #2b2b2b;
  --highlight-primary: #008aff;
  --gradient: 
    linear-gradient(300deg, #ba4aff, rgba(186, 74, 255, 0) 70%), 
    linear-gradient(227deg, #008aff, rgba(0, 138, 255, 0) 70%),
    linear-gradient(104deg, #00ffc6, rgba(0, 255, 198, 0) 74%);

  --nav-height: 3rem;

  --transition: 250ms ease-out;  
  --transition-long: 500ms ease-out; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 200;
}

body {
  padding-top: var(--nav-height);
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--fg-color);
}

a, a:visited {
  color: var(--fg-color);
}