/* Page Styling */

body {
  background-color: #ffffff;
}

.page {
  margin-left: 10vw;
  margin-right: 10vw;
}

/* Media Query */

@media only screen and (min-width: 768px) {
  .page {
    margin-left: 20vw;
    margin-right: 20vw;
  } 

}