.nav {
    background: #F5F5F5 !important;
    color: black !important;
    position: sticky !important;
    box-shadow: none !important;
    border-bottom: groove !important;
}


/* .navContent {
    margin: 0 15vw 0 15vw;
} */

@media only screen and (min-width: 768px) {
    .navContent {
        margin: 0 15vw 0 15vw !important;
    }
  }

