.branding {
    padding-top: 35px;
}

.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    background-color: transparent;
    border: none;
    height: 35px;
    width: 35px;
}

/* Styling the hamburger lines */
.menu-btn .btn-line-1 {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: black;
    transition: all 0.2s ease-out;
}

.menu-btn .btn-line-2 {
    position: relative;
    left: 14px;
    width: 14px;
    height: 3px;
    margin: 0 0 5px 0;
    background: black;
    transition: all 0.2s ease-out;
    
}


/* Adding transform to the X */
.menu-btn.close {
    transform: rotate(360deg);
}

/* Styling the three lines 
    to make it an X */
.menu-btn.close .btn-line-1:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line-2:nth-child(2) {
    transform: rotate(-45deg) translate(1px, -1px);
    width: 28px;
    left: 0px;
}

/* Styling the position of the menu icon */
.menu {
    position: absolute;
    right: 0;
    top: 25px;
    margin-right: 20px;
    padding: 20px;
    height: 20px;
    width: 20px;
    opacity: 0;
    visibility: hidden;
    transition: width .3s, height .2s;
    
    border-radius: 10px;
    
}

.menu.show {
    height: 300px;
    width: 200px;
    
    visibility: visible;
    opacity: .9;
    background-color:whitesmoke;
    
}

.nav-item {
    opacity: 0;
}

.nav-item.show {
    list-style-type: none;
    transition: opacity .2s .2s;
    opacity: 1;
}

.nav-item a {
    color: black;
    
}

.nav-item a:hover {
    text-decoration: none;
}